.timeline-header {
    height: 150px;
    background: linear-gradient(225deg, #FF7F3D, #D3E6FF, #2F9E44);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 50px;
}

.timeline {
    position: relative;
    margin: 0 auto;
    padding: 40px 0;
    width: 60%;
    max-width: 800px;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: #D3E6FF;
}

.event {
    position: relative;
    margin-bottom: 50px;
    width: 100%;
}

.event-content {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    width: calc(50% - 30px);
    z-index: 1;
}

.event:nth-child(even) .event-content {
    margin-right: 50%;
}

.event:nth-child(odd) .event-content {
    margin-left: 50%;
}

.event-marker {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #FF7F3D;
    border-radius: 50%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.event h2 {
    color: #2F9E44;
    margin-bottom: 10px;
}

/*nav section */

.reflecting {
    background-color: #157691; /* Modern light green */
    padding: 10px 0;
    text-align: center;
}

.reflecting a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.reflecting a:hover {
    color: #FFA07A; /* Chic light orange */
}


.realising {
    background-color: #d9bf30; /* Modern light green */
    padding: 10px 0;
    text-align: center;
}

.realising a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.realising a:hover {
    color: #dc3611; /* Chic light orange */
}




.together {
    background-color: #1ab331; /* Modern light green */
    padding: 10px 0;
    text-align: center;
}

.together a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.together a:hover {
    color: #ffb727; /* Chic light orange */
}


.back-button {
    display: block;
    margin: 20px auto;
    background-color: #FF7F3D; /* Orange */
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}


nav {
    background-color: #8FC1A1; /* Modern light green */
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFA07A; /* Chic light orange */
}


/*nav section */