.insights-header {
    height: 180px;
    background: linear-gradient(45deg, #2F9E44, #FF7F3D, #D3E6FF);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 30px;
}

.insights-content {
    background-color: #ffffff;
    padding: 30px 10%;
    font-size: 1.1em;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.insights-content h2 {
    color: #2F9E44; /* Green for headers */
    margin-top: 20px;
    border-bottom: 1px solid #D3E6FF; /* Subtle underline for headers */
    padding-bottom: 10px;
}

.insights-content p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
}

.insights-content blockquote {
    font-style: italic;
    font-size: 1.3em;
    text-align: center;
    margin: 20px 0;
    line-height: 1.7;
    color: #FF7F3D; /* Orange for emphasis on the quote */
}


/*nav section */

.reflecting {
    background-color: #157691; /* Modern light green */
    padding: 10px 0;
    text-align: center;
}

.reflecting a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.reflecting a:hover {
    color: #FFA07A; /* Chic light orange */
}


.realising {
    background-color: #d9bf30; /* Modern light green */
    padding: 10px 0;
    text-align: center;
}

.realising a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.realising a:hover {
    color: #dc3611; /* Chic light orange */
}




.together {
    background-color: #1ab331; /* Modern light green */
    padding: 10px 0;
    text-align: center;
}

.together a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.together a:hover {
    color: #ffb727; /* Chic light orange */
}

.back-button {
    display: block;
    margin: 20px auto;
    background-color: #FF7F3D; /* Orange */
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
